/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange-color: #ea5212;
  --green-color: #458b4a;
  --dark-color: #333333;
  --white-color: #fff;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6; /* Added for better readability */
  color: #333; /* Set a default text color */
  background-color: #f9f9f9; /* Set a default background color */
}

.heroSection,
.products-section {
  background: url(../public/assets/heroSection.png);
}

.ProductsSection {
  background: url(../public/assets/MagicPattern.design.png);
  background-color: #333;
}

.pinned {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.header {
  box-sizing: border-box;
  padding: 20px;
  transition: box-shadow 0.3s ease;
}

@media (max-width: 991px) {
  .main-title {
    font-size: 2.9rem !important;
    line-height: 60px !important;
  }
}

@media (max-width: 767px) {
  .main-title {
    font-size: 2rem !important;
    line-height: 44px !important;
  }
}



/*  */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #ea5212;
  border-radius: 20px;
}
::-webkit-scrollbar-track {
  background-color: var(--background-body);
}
