.navigation-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  padding: 20px 0;

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;

    .brand-links {
      display: flex;
      align-items: center;
    }

    .brand {
      background: var(--white-color);
      border: 1px solid #e8e8e8;
      border-radius: 999px;
      padding: 10px 20px;

      .brand-logo {
        height: 40px;
        object-fit: cover;
      }
    }

    .nav-links {
      display: flex;
      align-items: center;
      gap: 16px;
      margin-left: 20px;
      background: white;
      padding: 10px 20px;
      border: 1px solid #e8e8e8;
      border-radius: 99px;

      .nav-link {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        text-transform: capitalize;
        text-decoration: none;
        color: var(--dark-color);
        padding: 8px 16px;
        border-radius: 999px;
        transition: all 0.3s;

        &.active {
          background-color: var(--green-color);
          color: white;
          font-weight: bold;
        }

        &:hover {
          background-color: var(--green-color);
          color: white;
        }
      }
    }

    .contact-button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      min-width: 149px;
      height: 41px;
      background: transparent;
      color: var(--green-color);
      border: 1px solid var(--green-color);
      border-radius: 8px;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background-color: var(--green-color);
        color: white;
      }
    }

    .menu-bars {
      background-color: var(--white-color);
      padding: 10px 20px;
      border-radius: 999px;

      img {
        height: 24px;
        width: 24px;
      }
    }
  }
}

/* ----------- hero section ----------- */

/* ----------- about us ----------- */

.images-section {
  display: flex;
  align-items: flex-end;
  .about-image-primary {
    width: 387px;
    height: 387px;
  }

  .about-image-secondary {
    width: 289px;
    height: 294px;
    position: relative;
    right: -40px;
    top: 50px;
  }
}

/* ----------- products ----------- */
.products-section {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-color: #1a1a1a; /* Assuming a dark background for text contrast */
  .content-wrapper {
    padding: 6rem 0;
    width: 80%;
    flex-direction: column;
    margin: auto;
  }
}

.section-title {
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 20.5px;
  color: #458b4a;
}

.section-title .highlight {
  color: #ea5212;
}

.section-heading {
  font-family: Montserrat, sans-serif;
  font-size: 64px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fbfcf8;
  margin-top: 0.5rem;
}

.section-heading .light-text {
  font-weight: 100;
}

.section-heading .orange-dot {
  color: #ee7541;
}

.products-gallery {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-top: 3.5rem;
}

.product-card-small {
  width: 180px;
  height: 184px;
  flex: none;
  box-sizing: border-box;
}

.product-image-small {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.75rem;
}

.product-title {
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: underline;
  color: #fbfcf8;
  margin-top: 0.5rem;
  text-align: center;
}

.product-card-large {
  width: 811px;
  flex: none;
  box-sizing: border-box;
}

.product-image-large {
  width: 100%;
  height: 366px;
  object-fit: cover;
  border-radius: 0.75rem;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.pagination-button {
  background-color: #ea5212;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.pagination-button img {
  width: 30px;
}

.pagination-button.rotate {
  transform: rotate(180deg);
}
